.caixaRound {
    max-width: 215px;
    
}

#nextRoundBtn {
    max-width: 207px;
    width: 204px;
}

.roundButtons {
    width: 40px;
    padding-top: 20px;
}

#plusEnergyBtn {
    padding-bottom: 20px;
}

.cardRight {
    height: 100%;
}

.energyWrapper {
    position: relative;
}

#energyNumber {
    position: absolute;
    top: 35%;
    left: 45%;
}

.energyCounter {
    font-size: 60px;
}